.layout {
   display: flex;
   min-height: 100vh;
   background-color: #575799;
 }

 nav ul {
   list-style: none;
   padding: 0;
   width: 10rem;
 }

 nav li {
   margin: 30px 0;
   color: white;
 }

 main {
   flex: 1;          
   padding: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }