.creator-view {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
 }

 .creator-view h2 {
   margin: 0.5rem
 }
 
 .creator-details {
   background: #D3D3FF;
   border-radius: 12px;
   padding: 2rem;
   width: 450px;
   text-align: center;
   box-shadow: 0 2px 6px rgba(0,0,0,0.1);
 }

 .icon {
   font-size: 1.5rem;
   color: black;
 }


 .creator-helper {
   display: flex;
   justify-content: space-between;
 }
 
 .creator-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
 }
 
 .creator-image {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
 }
 
 .creator-name {
   font-size: 1.8rem;
   color: #111;
 }
 
 .creator-description {
   color: #444;
   margin: 1rem 0 1.5rem;
   font-size: 1rem;
 }
 
 .creator-link {
   display: inline-block;
   background: #9D9DCC;
   padding: 0.75rem 1.5rem;
   border-radius: 8px;
   color: black;
   font-weight: 600;
   text-decoration: none;
   transition: 0.2s ease;
 }
 
 .creator-link:hover {
   opacity: 0.7;
 }
 